CONFIG_RDTC_V1=y
CONFIG_RDTC_TOP="mrtc_rdtc_wb_wrapper"
CONFIG_FLOW_TECHNOLOGY="nangate45_openram_spice"
CONFIG_FLOW_CLOCK_PERIOD_NS="3.000"
CONFIG_FLOW_DC_CLOCK_PERIOD_NS="1.111"
CONFIG_FLOW_PNR_CLOCK_PERIOD_NS="3.000"
CONFIG_FLOW_STA_CLOCK_PERIOD_NS="3.000"
CONFIG_FLOW_SETUP_SLACK_MARGIN_NS="0.00"
CONFIG_FLOW_HOLD_SLACK_MARGIN_NS="0.06"
CONFIG_FLOW_CAP_MARGIN_PERCENT="60"
CONFIG_FLOW_SLEW_MARGIN_PERCENT="65"
CONFIG_FLOW_GRT_HOLD_SLACK_MARGIN_NS="0.00"
CONFIG_FLOW_POST_GRT_HOLD_REPAIR_PASSES="0"
CONFIG_FLOW_POST_GRT_HOLD_SLACK_MARGIN_NS="0.00"
CONFIG_FLOW_TARGETED_DRC_ECO="rdtc333_spice_eco1"
CONFIG_FLOW_STA_UNUSED_RW_DOUT_MIN_CAP_WAIVER=y
CONFIG_FLOW_BUILD_TAG="rdtc_v1_45nm_dc900mapped_pnr333_spice_guardband_eco1_1rw1r"
CONFIG_FLOW_MEMORY_MODE="macro"
CONFIG_FLOW_OPENROAD_PLATFORM="nangate45"
CONFIG_FLOW_PNR_BACKEND="openroad"
CONFIG_FLOW_PNR_SCOPE="full"
CONFIG_FLOW_SRAM_PREP=y
# CONFIG_FLOW_RC_PREP is not set
# CONFIG_FLOW_RTL_SIM is not set
# CONFIG_FLOW_LINT is not set
# CONFIG_FLOW_CDC is not set
CONFIG_FLOW_DC_BASELINE=y
# CONFIG_FLOW_DC_GATED is not set
# CONFIG_FLOW_DFT is not set
# CONFIG_FLOW_LEC is not set
# CONFIG_FLOW_ICC2_LIBS is not set
CONFIG_FLOW_PNR=y
CONFIG_FLOW_STA=y
