CONFIG_RDTC_V1=y
CONFIG_RDTC_TOP="mrtc_rdtc_wb_wrapper"
CONFIG_FLOW_PRODUCT_PROFILE="register-expanded"
CONFIG_FLOW_TECHNOLOGY="nangate45_registers"
CONFIG_FLOW_CLOCK_PERIOD_NS="2.500"
CONFIG_FLOW_DC_CLOCK_PERIOD_NS="1.666667"
CONFIG_FLOW_PNR_CLOCK_PERIOD_NS="2.500"
CONFIG_FLOW_STA_CLOCK_PERIOD_NS="2.500"
CONFIG_FLOW_SDC_TIME_SCALE="1.0"
CONFIG_FLOW_SETUP_SLACK_MARGIN_NS="0.00"
CONFIG_FLOW_HOLD_SLACK_MARGIN_NS="0.06"
CONFIG_FLOW_GRT_HOLD_SLACK_MARGIN_NS="0.00"
CONFIG_FLOW_POST_GRT_HOLD_REPAIR_PASSES="0"
CONFIG_FLOW_BUILD_TAG="rdtc_v1_register_45nm_600m"
CONFIG_FLOW_EXPECTED_DC_NETLIST_SHA256="715fcb1b02135e213589939635e66097536008d0d37394f31cde30c501d4affe"
CONFIG_FLOW_MEMORY_MODE="registers"
CONFIG_FLOW_OPENROAD_PLATFORM="nangate45"
CONFIG_FLOW_PNR_BACKEND="openroad"
CONFIG_FLOW_PNR_SCOPE="full"
# CONFIG_FLOW_LIBRARY_PREP is not set
# CONFIG_FLOW_SRAM_PREP is not set
# CONFIG_FLOW_RC_PREP is not set
# CONFIG_FLOW_RTL_SIM is not set
# CONFIG_FLOW_LINT is not set
# CONFIG_FLOW_CDC is not set
# CONFIG_FLOW_DC_BASELINE is not set
# CONFIG_FLOW_DC_GATED is not set
# CONFIG_FLOW_DFT is not set
# CONFIG_FLOW_LEC is not set
# CONFIG_FLOW_ICC2_LIBS is not set
CONFIG_FLOW_PNR=y
CONFIG_FLOW_STA=y
