CONFIG_RDTC_V1=y
CONFIG_RDTC_TOP="mrtc_rdtc_wb_wrapper"
CONFIG_FLOW_PRODUCT_PROFILE="register-expanded"
CONFIG_FLOW_TECHNOLOGY="nangate45_registers"
CONFIG_FLOW_CLOCK_PERIOD_NS="1.250"
CONFIG_FLOW_DC_CLOCK_PERIOD_NS="1.250"
CONFIG_FLOW_PNR_CLOCK_PERIOD_NS="1.250"
CONFIG_FLOW_STA_CLOCK_PERIOD_NS="1.250"
CONFIG_FLOW_BUILD_TAG="rdtc_v1_register_45nm_800m"
CONFIG_FLOW_MEMORY_MODE="registers"
CONFIG_FLOW_OPENROAD_PLATFORM="nangate45"
CONFIG_FLOW_PNR_BACKEND="openroad"
CONFIG_FLOW_PNR_SCOPE="full"
# CONFIG_FLOW_LIBRARY_PREP is not set
# CONFIG_FLOW_SRAM_PREP is not set
# CONFIG_FLOW_RC_PREP is not set
# CONFIG_FLOW_RTL_SIM is not set
# CONFIG_FLOW_LINT is not set
# CONFIG_FLOW_CDC is not set
CONFIG_FLOW_DC_BASELINE=y
# CONFIG_FLOW_DC_GATED is not set
# CONFIG_FLOW_DFT is not set
# CONFIG_FLOW_LEC is not set
# CONFIG_FLOW_ICC2_LIBS is not set
# CONFIG_FLOW_PNR is not set
# CONFIG_FLOW_STA is not set
